#!/usr/bin/make -f

BUILD_DATE  = $(shell LC_ALL=C date -u "+%B %d, %Y" -d "@$(SOURCE_DATE_EPOCH)")
SPHINXOPTS := -D today=\"$(BUILD_DATE)\"

%:
	dh $@

binary binary-indep build build-indep install install-indep:
	dh $@ --with=sphinxdoc

override_dh_auto_build-indep:
	$(MAKE) html SPHINXOPTS="$(SPHINXOPTS)"

override_dh_auto_test-indep override_dh_auto_install-indep:
